.my-button {
    border: none;
    margin: 10px 20px 30px 40px;
    padding: 10 16px;
    border-radius: 8px;
    width: 85px;
    height: 30px;
    font-size: 16px;
    cursor: pointer;
    background-color: #1C110A;
    color: white;
}

.my-button:hover {
    background-color: #50A2A7;
}

.my-title{
    width: 200px;
    height: 20px;
}

.my-desc {
    width: 200px;
    height: 20px;
}

p {
    font-size: 18px;
}


.todo-item{
    font-size: 20px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;

}

.todo-item.done {
    text-decoration: line-through;
    color: #1C110A;
}

label{
    font-size: 20px;
}

